extends ./layouts/_layout.pug
block content
  .inner#tabs
    h1.heading zellion tabs plugin
    p.subheading EasyTabs is a lightweight jQuery plugin to provide full tab functionality
    section.section#section-1
      //- .heading Default settings
      .tab
        ul.tab__list
          - var arr = [{link:'home-1', title:'home'}, {link:'archive-1', title:'archive'}, {link:'analytics-1', title:'analytics'}, {link:'upload-1', title:'upload'}, {link:'settings-1', title:'settings'}]
          for key in arr
            li.tab__item
              a.tab__link(href="#"+key.link)= key.title
        .tab__container
          - var arr = ['home-1', 'archive-1', 'analytics-1', 'upload-1', 'settings-1']
          - var i = 1
          for key in arr
            .tab__content(id=""+key)
              .tab__value= i++
      pre.pre.
        $('selector').zellionTabs();
    section.section#section-2
      //- .heading Default Tab
      .tab
        ul.tab__list
          - var arr = [{link:'home-2', title:'home'}, {link:'archive-2', title:'archive'}, {link:'analytics-2', title:'analytics'}, {link:'upload-2', title:'upload'}, {link:'settings-2', title:'settings'}]
          for key in arr
            li.tab__item
              a.tab__link(href="#"+key.link)= key.title
        .tab__container
          - var arr = ['home-2', 'archive-2', 'analytics-2', 'upload-2', 'settings-2']
          - var i = 1
          for key in arr
            .tab__content(id=""+key)
              .tab__value= i++
      pre.pre.
        $('selector').zellionTabs({
          defaultTab: 4
        });
    section.section#section-3
      //- .heading Autoplay
      .tab
        ul.tab__list
          - var arr = [{link:'home-3', title:'home'}, {link:'archive-3', title:'archive'}, {link:'analytics-3', title:'analytics'}, {link:'upload-3', title:'upload'}, {link:'settings-3', title:'settings'}]
          for key in arr
            li.tab__item
              a.tab__link(href="#"+key.link)= key.title
        .tab__container
          - var arr = ['home-3', 'archive-3', 'analytics-3', 'upload-3', 'settings-3']
          - var i = 1
          for key in arr
            .tab__content(id=""+key)
              .tab__value= i++
      pre.pre.
        $('selector').zellionTabs({
          autoplay: true
        });
    .container
      h3.title Package Managers
      p.html bower install zellion --save
    .container
      h3.title Required Markup
      pre.html.
        <span class="tag">&lt;div</span> <span class="sel">class=</span><span class="name">"tab"</span><span class="tag">&gt;</span>
          <span class="tag">&lt;ul</span> <span class="sel">class=</span><span class="name">"tab__list"</span><span class="tag">&gt;</span>
            <span class="tag">&lt;li</span> <span class="sel">class=</span><span class="name">"tab__item"</span><span class="tag">&gt;</span><span class="tag">&lt;a</span> <span class="sel">href=</span><span class="name">"#tab-1"</span> <span class="sel">class=</span><span class="name">"tab__link"</span><span class="tag">&gt;</span>Tab 1<span class="tag">&lt;a&gt;</span><span class="tag">&lt;li&gt;</span>
            <span class="tag">&lt;li</span> <span class="sel">class=</span><span class="name">"tab__item"</span><span class="tag">&gt;</span><span class="tag">&lt;a</span> <span class="sel">href=</span><span class="name">"#tab-2"</span> <span class="sel">class=</span><span class="name">"tab__link"</span><span class="tag">&gt;</span>Tab 2<span class="tag">&lt;a&gt;</span><span class="tag">&lt;li&gt;</span>
          <span class="tag">&lt;ul&gt;</span>
          <span class="tag">&lt;div</span> <span class="sel">class=</span><span class="name">"tab__container"</span><span class="tag">&gt;</span>
            <span class="tag">&lt;div</span> <span class="sel">class=</span><span class="name">"tab__content"</span> <span class="id">id=</span><span class="name">"tab-1"</span><span class="tag">&gt;</span><span class="tag">&lt;div&gt;</span>
            <span class="tag">&lt;div</span> <span class="sel">class=</span><span class="name">"tab__content"</span> <span class="id">id=</span><span class="name">"tab-2"</span><span class="tag">&gt;</span><span class="tag">&lt;div&gt;</span>
          <span class="tag">&lt;div&gt;</span>
        <span class="tag">&lt;div&gt;</span>
    .container
      h3.title settings
      .table
        .tr
          .td Option
          .td Type
          .td Values (default)
          .td Description
        .tr
          .td defaultTab
          .td number
          .td 0
          .td Selects the tab to activate when page first loads.
        .tr
          .td animation
          .td string
          .td "fade", "show" ("fade")
          .td Animation tab change.
        .tr
          .td speed
          .td number
          .td 400
          .td Animation speed change tabs.
        .tr
          .td autoplay
          .td boolean
          .td false
          .td Autoplay tab change.
        .tr
          .td interval
          .td number
          .td 5000
          .td Interval change tabs on autoplay.
        .tr
          .td hash
          .td boolean
          .td false
          .td Tells easyTabs whether or not to update the browser window's URL hash, useful for SEO and bookmarking.
        .tr
          .td beforeChange
          .td function
          .td false
          .td Autoplay tab change.
